<!DOCTYPE html>
<html>
<head>

<meta charset="UTF-8">
<title>Hakkımda</title>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
  <div class="container">
  <div th:replace="fragments/header :: header"></div>
  <div class="row" style="margin-top: 50px">
  
  <br><br> 
  
<div class="jumbotron text-center" style="background-color:#A4A4A4">
  <h2 style="color:white" >Hakkımda...</h2>


<div class="container">

  <div class="text-justify font-italic" style="color:white; width:100%">
  <p class="text-justify font-italic" >
  Hoşgeldiniz,
  </p>
  <p class="text-justify ; font-italic" >
  İsmim Nilay Birdar, Yıldız Teknik Üniversitesi Matematik Mühendisliğine 2015 yılında giriş yaptım. Bilgisayar Donanım stajımı Kafein Teknoloji'de mühendisim Fatih Seyfullah Kılıç'ın gözetiminde tamamladım ve
  mevcut programı staj projem olarak geliştirdim.
  </p>
  <p class="text-justify ; font-italic" >
  Bu projenin amacı Twitterda istenilen konudaki tweetlerin sentiment ve kategori analizlerini yapmaktır. Bunu yaparken Naive Bayes sınıflandırma algoritmasını kullandım. 
  </p>
  <p class="text-justify ; font-italic" >
  Makina öğrenme çalışmalarının çoğunda olduğu gibi öncelikle eğitim datası oluşturmak adına Karar Ver isimli bir sayfa oluşturarak bu sayfayı bilgisayarı eğitmek için kullandım.
  Yeni gelen tweetlerin sentiment ve kategori analizlerini Analiz isimli sayfada tablo şeklinde görebilirsiniz. Aynı zamanda bu tablodaki dinamik verileri kullanan sentiment ve kategori grafiklerine Grafikler isimli sayfadan ulaşabilirsiniz.
  </p>
  <br>
  <p>
  Vakit ayırdığınız için teşekkürler :)
  </p>  
  <p>İletişim: <a href="mailto:nilay.brdr@gmail.com">nilay.brdr@gmail.com</a>.</p>
  <p>Linkedin: <a href="https://www.linkedin.com/in/nilay-birdar-839425145/" class="fa fa-linkedin"></a></p>
  
</div> 


</div>



</div>
</div>
</div>
</body>
</html>