<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>tweet analizi</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
     <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>

  <body>
  <div class="container">
  <div th:replace="fragments/header :: header"></div>
  <div class="row" style="margin-top: 50px">
    <table class="table table-striped">
    <tr>
       <th >Gonderen</th> 
        <th >Tweet</th>
    </tr>
    <tr th:each="item : ${list}">
        <td class="kısa" th:text="${item.userName}"></td> 
        <td  rows="10" cols="500" th:text="${item.tweetText}"></td>
    </tr>
    </table>
  </div>
  </div>
  
  <br><br>
  <div class="container">
  <div th:replace="fragments/footer :: footer"></div>
  <div class="row" style="margin-top: 50px">
  </div>
  </div>
  </body>

</html>