<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>Kategori Degistir</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>

  <body>
  <div>
  <div class="container">
  <div th:replace="fragments/header :: header"></div>
  <div class="row" style="margin-top: 50px">
  <form th:action="@{/twitter/kategoridegistir}" th:object="${tweet}" th:method="POST">
    <table class="table table-striped">
    <tr>
       <th >TweetId</th> 
        <th>Tweet</th>
        <th>Analiz</th>       
        <th >Yeni kategori</th>
    </tr>
    <tr >
        <td><input type="hidden" th:field="*{tweetId}" /><label  th:text="*{tweetId}"></label></td> 
        <td><label  th:text="*{tweetText}"></label></td>
        <td>  
        <div th:switch="${tweet.kategoriId}">
  			<label th:case="0">Kayıt Dışı</label>
  			<label th:case="1">Ekonomi</label>
 	 		<label th:case="2">Spor</label>
 	    	<label th:case="3">Eğlence</label>
  			<label th:case="4">Siyaset</label>
 	 		<label th:case="5">Sanat</label>
 	 		<label th:case="6">Eğitim</label>
 	 		<label th:case="7">Eleştiri</label>
 	 		<label th:case="8">Bilim</label>
		</div> </td>   

        <td><select th:field="*{kategoriId}">
	    	           <option  th:value="0" th:text="'Kapsam Dışı'"></option>
	    	           <option  th:value="1" th:text="Ekonomi"></option>
	    	           <option  th:value="2" th:text="Spor"></option>
	    	           <option  th:value="3" th:text="Eğlence"></option>
	    	           <option  th:value="4" th:text="Siyaset"></option>
	    	           <option  th:value="5" th:text="Sanat"></option>
	    	           <option  th:value="6" th:text="Eğitim"></option>
	    	           <option  th:value="7" th:text="'Eleştiri'"></option>
	    	           <option  th:value="8" th:text="Bilim"></option>
	    	
	     </select>
        </td> 
    </tr>
 </table>
 <button type="submit" class="btn-success">İşle</button>
 </form>
 </div>
 </div>
 </div>
 
  </body>

</html>